<!doctype html>

<html lang="en-US">
<head>
<meta charset="utf-8">
<title>Poké Mart</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mart_info.css') }}">
</head>

<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Navigation -->
  <header> <a href="">
    <h4 class="logo">POKÉ MART&nbsp;</h4>
    </a>
    <nav>
      <ul>
        <li><a href="index.html">HOME</a></li>
        <li><a href="customers.html">CUSTOMERS</a></li>
		<li><a href="items.html">ITEMS&nbsp;</a></li>
		<li> <a href="orders.html">ORDERS&nbsp;</a></li>
        <li> <a href="trades.html">TRADES</a></li>
      </ul>
    </nav>
  </header>
  <section class="myHeader" id="myHeader">
	  <h2 class="myHeader_header">Items</h2>
  </section>
  <table class=database_table>
    <thead>
      <th>ID</th>
      <th>Price</th>
      <th>Description Number</th>
      <th>Badges Required</th>
    </thead>
    <tbody>
      {% for val in item_data %}
      <tr>
        <td>#{{val['Item_id']}}</td>
        <td>{{val['Price']}}</td>
        <td>{{val['Description']}}</td>
        <td>{{val['Badge_required']}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

    <br />
    <h2>Insert</h2>
    <form method = "post">
        <div class="form-group">
            <label>Price<input type="Number" name="Price" value="" /></label>
            <label>Description<input type="text" name="Description" value="" /></label>
            <label>Badge_required<input type="number" name="Badge_required" value="" /></label>
            <input type="submit" name="insert_item_submit" id="new_Row" value="Insert Item" class="button"/>
        </div>
        <form id="insertItem">
    </form>
    <br />
  

  <script>
    function filterTable(){
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
    }
  </script>
<!-- Main Container Ends -->
</body>
</html>
